In [1]:
import pandas as pd

In [2]:
x = pd.read_json('dataset.json')

In [3]:
x

,customer_code,branch_id,sales_channel,seller_code,register_date,total_price,order_id,quantity,item_code,item_total_price,unit_price,group_code,segment_code,is_churn
0,143,0,0,190,2017-11-10T00:00:00Z,1613.53,21804,10,854,292.91,25.04,0,0,0.0
1,433,0,1,153,2011-05-16T00:00:00Z,11163.69,5486,20,246,287.19,12.33,0,5,0.0
2,486,0,0,166,2018-01-24T00:00:00Z,6432.12,22662,12,1420,184.84,12.80,0,0,0.0
3,107,0,1,156,2010-07-28T00:00:00Z,831.82,3956,18,1963,189.18,10.51,0,0,0.0
4,768,0,1,218,2010-12-17T00:00:00Z,1736.48,4730,5,1786,66.87,11.82,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204423,141,0,0,78,2017-02-15T00:00:00Z,1481.02,18922,12,2624,235.19,19.03,0,0,0.0
204424,31,0,0,181,2018-05-23T00:00:00Z,1105.38,24146,1,844,100.81,100.81,0,0,0.0
204425,192,0,0,253,2014-10-20T00:00:00Z,1059.66,13285,3,1785,51.08,15.18,0,0,0.0
204426,687,0,0,190,2015-08-18T00:00:00Z,3167.71,15167,4,1412,230.32,50.56,0,0,0.0
204427,9,0,0,143,2013-02-26T00:00:00Z,4930.51,9452,10,24,46.35,4.03,0,0,0.0

In [4]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204428 entries, 0 to 204427
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   customer_code     204428 non-null  int64
 1   branch_id         204428 non-null  int64
 2   sales_channel     204428 non-null  int64
 3   seller_code       204428 non-null  int64
 4   register_date     204428 non-null  object
 5   total_price       204428 non-null  float64
 6   order_id          204428 non-null  int64
 7   quantity          204428 non-null  int64
 8   item_code         204428 non-null  int64
 9   item_total_price  204428 non-null  float64
 10  unit_price        204428 non-null  float64
 11  group_code        204428 non-null  int64
 12  segment_code      204428 non-null  int64
 13  is_churn          202513 non-null  float64
dtypes: float64(4), int64(9), object(1)
memory usage: 21.8+ MB

# o que eu consigo sacar disso aqui?

In [ ]:
- Sistema de recomendação

- qual o canal que mais vende